/*ESTILOS FOOTER*/


.footer {
    display: flex;
    justify-content: center; /* Centra horizontalmente el contenido */
    align-items: center; /* Centra verticalmente el contenido */
   
    padding: 10px;
    background: rgb(44, 40, 75);
}

.footer__rodape {
    text-align: center; /* Centra el texto horizontalmente */
    font-family: "Press Start 2P", system-ui;
    font-size: 15px;
    line-height: 1.8;
    color: white;
}

